@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#app {
  text-align: center;
  color: #ffa500;
  font-size: 100px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#time {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  
}