@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#app {
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#time {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 20px;
  user-select: none;
  color: #ffa500;
}
#time-wrapper {
  background-color: rgb(44, 42, 37, .8);
  padding: 10px;
  border-radius: 18px;
}
#upcoming {
  font-size: 26px;
  font-family: 'orbitron';
  border-radius: 18px;
  background-color: rgb(44, 42, 37, .8);
}
#upcoming ul {
  list-style: none;
}
#upcoming li {
  padding: 20px 0px 20px 0px;
}
#upcoming li a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}
#upcoming li a:visited {
  color: white;
}
#upcoming li a:hover {
  color: #ffa500;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #F90;
  /*background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)*/
}
::-webkit-scrollbar-thumb:hover {
  background: #ffac00;
}